<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>

</head>
<body>
{% csrf_token %}
<div style="margin-left: 10px">
<br>
    <div class="card text-center">
  <div class="card-header">
    <h3>Добрый день</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Введите id контракта</h5>
    <form  class="form-success" method="post" action="http://127.0.0.1:8000/home/">
            <input type="number" name="id" placeholder="Put contract id here:">
            <br><br><input class="btn btn btn-secondary" type="submit">
    </form>
  </div>
  <div class="card-footer text-muted">
    <h4>ID производителей по контракту № {{f_id}}:</h4>
    <h4>{% for id in firms_id %}
        {{ id }}
    {% endfor %}
    </h4>





